*{
    margin: 0;
    padding: 0;
}

body
{
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:ital,wght@1,200&display=swap');
    </style>
}

.img1{
    width: 100%;
    height: 650px;
    background: url(Imagens/FamiliaFeliz.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo
{
    color: rgba(0, 0, 0, 0.849);
    font-size: 1.5rem;
    padding: 15px;
    letter-spacing: 1px;
    background: linear-gradient(to right,rgb(197 222 222 / 50%),rgb(115 207 222 / 51%));  
}

.faixa1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e6e6;
    width: 100%;
    height: 320px;
    background: linear-gradient(to right,rgb(197 222 222),rgb(115 207 222));   
    color: #0e0a0ad5;
}

.faixa1 h2{
    font-size: 2.8rem;
}

.faixa1 p
{
   padding: 20px 50px;
   font-size: 1.4rem;
}

.img2
{
    width: 100%;
    height: 750px;
    background: url(Imagens/riodejaneiro.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.faixa2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    background: linear-gradient(to right,rgb(215 182 127),rgb(127 162 204));   
    color: #0e0a0ad5;
    letter-spacing: 1px;
}

.faixa2 h2{
    font-size: 2.8rem;
}

.faixa2 p
{
   padding: 20px 50px;
   font-size: 1.4rem;
}

.img3
{
    width: 100%;
    height: 750px;
    background: url(Imagens/SaoPaulo.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.faixa3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    background: linear-gradient(to right,#f4b197,#4c5ca7);   
    color: #0e0a0ad5;
    letter-spacing: 1px;
}

.faixa3 h2{
    font-size: 2.8rem;
}

.faixa3 p
{
   padding: 20px 50px;
   font-size: 1.4rem;
}

.img4
{
    width: 100%;
    height: 750px;
    background: url(Imagens/Brasilia.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
